<div class="row">
  <div class="medium-4 medium-offset-4 columns">
    <div class="services">
      <a href="/oauth" class="radius button">Connect Pocket</a>
      <a href="/" class="radius button">Connect YouTube</a>
    </div>
  </div>
</div>